<div #editTournament *ngIf="!(tournament && tournament_uuid)">
  <div class="row">
    <div class="col-md-12">
      <form #form="ngForm">
        <div class="form-group">
          <label for="name">Nome:</label>
          <input type="text" name="name" id="name" class="form-control" [(ngModel)]="tournament.name" />
        </div>
        <div class="form-group">
          <label for="tournament_type">Tipo de Torneio:</label>
          <select name="tournament_type" id="tournament_type" class="form-select" [(ngModel)]="tournament.tournament_type">
            <option value="SWISS">Sistema Suíço</option>
            <option value="SCHURING">Sistema Round-Robin/Schüring/Todos-contra-todos</option>
          </select>
        </div>
        <div class="form-group" *ngIf="tournament.tournament_type === 'SWISS'">
          <label for="rounds_number">Número de Rodadas:</label>
          <input type="text" name="rounds_number" id="rounds_number" class="form-control" [(ngModel)]="tournament.rounds_number" />
        </div>
        <hr/>
        <button class="btn btn-primary" type="button" (click)="save()">Salvar</button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="tournament && tournament_uuid">
  <h4>Torneio: {{tournament.name}}</h4>
  <div class="row">
    <div class="col-md-4">
      <h6>Sistema: {{getSystemType()}}</h6>
    </div>
    <div class="col-md-4">
      <h6>Status do Torneio: {{this.tournament_status.message}}</h6>
    </div>
    <div class="col-md-4">
      Rodada:
      <form #form="ngForm">
        <select name="round_number" id="round_number" [(ngModel)]="selected_round_number" (change)="onRoundChange()">
          <option *ngFor="let in of counter(last_round_number); let i = index" value="{{i}}">{{i}}</option>
        </select>
      </form>
    </div>
  </div>
  <hr/>
  <nav ngbNav #nav="ngbNav" class="nav-pills">

    <ng-container ngbNavItem>
      <a ngbNavLink><fa-icon [icon]="players_icon"></fa-icon> Jogadores</a>
      <ng-template ngbNavContent>
        <app-players-tournament [tournament_uuid]="tournament_uuid"></app-players-tournament>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink><fa-icon [icon]="pairings_icon"></fa-icon> Emparceiramentos</a>
      <ng-template ngbNavContent>
        <app-pairings-tournament
          [tournament_uuid]="tournament_uuid"

          [last_round_number]="last_round_number"
          [selected_round_number]="selected_round_number"
          [tournament]="tournament"

          (new_round_emitter)="onNewRound($event)"
          (result_change_emitter)="onResultChange()"
        ></app-pairings-tournament>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink><fa-icon [icon]="results_icon"></fa-icon> Resultados</a>
      <ng-template ngbNavContent>
        <app-results-tournament
        [tournament]="tournament"
        [selected_round_number]="selected_round_number"
        ></app-results-tournament>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink><fa-icon [icon]="categories_icon"></fa-icon> Categorias</a>
      <ng-template ngbNavContent>
        <app-categories-tournament [tournament_uuid]="tournament_uuid"></app-categories-tournament>
      </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
      <a ngbNavLink><fa-icon [icon]="edit_icon"></fa-icon> Editar</a>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-md-12">
            <form #form="ngForm" (submit)="save()">
              <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="tournament_edit.name" />
              </div>
              <div class="form-group">
                <label for="tournament_type">Tipo de Torneio:</label>
                <select name="tournament_type" id="tournament_type" class="form-select"
                  [(ngModel)]="tournament_edit.tournament_type" [disabled]="last_round_number > 0">
                  <option value="SWISS">Sistema Suíço</option>
                  <option value="SCHURING">Sistema Round-Robin/Schüring/Todos-contra-todos</option>
                </select>
              </div>
              <div class="form-group" *ngIf="tournament_edit.tournament_type === 'SWISS'">
                <label for="rounds_number">Número de Rodadas:</label>
                <input type="text" name="rounds_number" id="rounds_number" class="form-control"
                  [(ngModel)]="tournament_edit.rounds_number" />
              </div>
              <div class="row">
                <div class="col-md-6">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Critérios de Ordenação Inicial</th>
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ordering of list_orderings_not_selected; let i = index">
                        <td>
                          {{getOrderingName(ordering.value)}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary btn-sm" (click)="addOrdering(ordering.value)">
                            <fa-icon [icon]="add_icon"></fa-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Critérios de Ordenação Inicial Selecionados</th>
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let ordering of tournament_edit.ordering_sequence; let i = index">
                        <td>
                          {{i+1}} - {{getOrderingName(ordering)}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary btn-ordering btn-sm" (click)="putToUpOrdering(i)" [disabled]="!(i != 0)">
                            <fa-icon [icon]="up_icon"></fa-icon>
                          </button>
                          <button type="button" class="btn btn-secondary btn-ordering btn-sm"
                            (click)="putToDownOrdering(i)" [disabled]="!((i + 1) < tournament_edit.ordering_sequence.length)">
                            <fa-icon [icon]="down_icon"></fa-icon>
                          </button>
                          <button type="button" class="btn btn-danger btn-ordering btn-sm" (click)="removeOrdering(i)">
                            <fa-icon [icon]="x_icon"></fa-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><div class="row">
                <div class="col-md-6">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Critérios de Desempate</th>
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tiebreak of tiebreaks_not_selected; let i = index">
                        <td>
                          {{tiebreak.name}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary btn-sm" (click)="addTiebreak(tiebreak.id)">
                            <fa-icon [icon]="add_icon"></fa-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-6">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Critérios de Desempate</th>
                        <th>Opções</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tiebreak_id of tournament_edit.tiebreaks; let i = index">
                        <td>
                          {{i+1}} - {{getTiebreak(tiebreak_id)}}
                        </td>
                        <td>
                          <button type="button" class="btn btn-secondary btn-sm btn-tiebreaks" (click)="putToUpTiebreak(i)" [disabled]="!(i != 0)">
                            <fa-icon [icon]="up_icon"></fa-icon>
                          </button>
                          <button type="button" class="btn btn-secondary btn-sm btn-tiebreaks" (click)="putToDownTiebreak(i)"
                            [disabled]="!((i + 1) < tournament_edit.tiebreaks.length)">
                            <fa-icon [icon]="down_icon"></fa-icon>
                          </button>
                          <button type="button" class="btn btn-danger btn-sm btn-tiebreaks" (click)="removeTiebreak(i)">
                            <fa-icon [icon]="x_icon"></fa-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <hr />
              <button class="btn btn-primary" type="submit">Salvar</button>
            </form>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </nav>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
