table {
  width: 100%;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
