/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.content-box, nav .container{
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100% !important;
  max-width: 100% !important;
}

$green: #00a65a;

.navbar{
  background-color: $green !important;
  color: white !important;
  a{
    color: white;
  }

  .navbar-brand{
    padding-right: 1rem;
  }
  .nav-item{
    background-color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    a{
      color: $green;
    }
  }
}
