<div class="row">
  <div class="col-md-4">
    <h5>Rodada Atual: {{last_round_number}}</h5>
  </div>
  <div class="col-md-4">
    <h5>Rodada Selecionada: {{selected_round_number}}</h5>
  </div>
  <div class="col-md-4">
    <h6>Status: {{selected_round_status.message}}.</h6>
  </div>
  <div class="col-md-12">
    <button type="button" class="btn btn-lg btn-primary" (click)="generateRound()" *ngIf="selected_round_status.can_pairing">Emparceirar Rodada</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="unPairRound()" *ngIf="selected_round_status.can_unpair && last_round_number > 0">Desfazer Rodada</button>
  </div>
</div>
<hr/>

<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setEmptyResult()" *ngIf="this.row_selected >= 0">Vazio</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResult(1,0)" *ngIf="this.row_selected >= 0">1 | 0</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResult(0,1)" *ngIf="this.row_selected >= 0">0 | 1</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResult(0.5,0.5)" *ngIf="this.row_selected >= 0">1/2 | 1/2</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResult(0,0)" *ngIf="this.row_selected >= 0">0 | 0</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResultWO(1,0)" *ngIf="this.row_selected >= 0">+ | -</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResultWO(0,1)" *ngIf="this.row_selected >= 0">- | +</button>
<button type="button" class="btn btn-sm btn-primary btn-result" (click)="setResultWO(0,0)" *ngIf="this.row_selected >= 0">- | -</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="50">No.</th>
      <th>Jogador (Brancas)</th>
      <th width="100">Resultado</th>
      <th>Jogador (Negras)</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let pairing of pairings; let i = index" (click)="selectRow(i)" [ngClass]="i == row_selected ? 'row-selected' : ''">
      <td>{{pairing.number}}</td>
      <td>{{pairing.player_a.name}} [{{getPoints(pairing.player_a,selected_round_number)}}]</td>
      <td>{{getPairingResult(pairing)}}</td>
      <td>{{ ((pairing.is_bye) ? 'BYE' : pairing.player_b.name.concat(" [").concat(getPoints(pairing.player_b,selected_round_number)).concat("]")) }}</td>
    </tr>
  </tbody>

</table>
